@model LawnBattle.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <h4>Event</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Active Tournies:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Completed Tournies:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventKey)
                </dd>

            </dl>
        </div>
        <div class="col-md-12">
            <div>
                <button type="button" class="btn btn-success btn-block">Create New Tournament</button>
            </div>
        </div>
        @*
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
    </div>
</div>

   
